## Langchain
ipykernel
pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml 
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_huggingface
faiss-cpu
langchain_google_genai
pypdf
langchain-pinecone
## Self
jq
docx2txt
motor ## For MongodbLoader

## Langgraph
youtube_search
langgraph
chromadb
langchain_chromadb
